<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
	<http auto-config="true">
		<intercept-url pattern="/**" access="${app.defaultAccessRole}" />
		
		<!-- Uncomment to use custom login pages -->
<!-- 		<form-login login-page="${app.loginUrl}"  -->
<!-- 			authentication-failure-url="${app.authenticationFailureUrl}" -->
<!-- 			default-target-url="${app.defaultTargetUrl}" -->
<!-- 			username-parameter="${app.usernameParameter}" -->
<!-- 			password-parameter="${app.passwordParameter}" -->
<!-- 			always-use-default-target="false" -->
<!-- 		/> -->
		<logout logout-url="${app.logoutUrl}" success-handler-ref="logoutSuccessHandler"/>
	</http>

	<authentication-manager>
		<authentication-provider ref='templateAuthenticationProvider'/>
	</authentication-manager>

	<beans:bean id="templateAuthenticationProvider" class="org.dedeler.template.security.TemplateAuthenticationProvider"/>
	
	
	<beans:bean id="logoutSuccessHandler" class="org.dedeler.template.security.LogoutSuccessHandler">
		<beans:constructor-arg>
			<beans:bean id="jacksonObjectMapperForLogoutHandler" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
		</beans:constructor-arg>
	</beans:bean>
</beans:beans>

